Assets/SublimeSocketAsset/*
Library/*
Temp/*

Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj


Assembly-CSharp-Editor-vs.csproj

Assembly-CSharp-vs.csproj


Assembly-CSharp-firstpass.csproj


Assets/VSCode/*

.vscode/launch.json

Assets/VSCode.meta


obj/*

*.sln
*.vcproj
*.unityproj
*.userprefs
